include ../templates/head.pug
+head("Hello Pug!")

h1 Hello Pug!

h2= title

each story in stories
  h2= story.headline
  h3= story.abstract
  p= story.abstract
  a(href= story.link.url)= story.link.linkname